<footer id="contact" class="footer">
  <div class="footer-content">
    <h2 class="section-title" data-aos="fade-up">{{site.data.main.contact_title}}</h2>
    <p data-aos="fade-up" data-aos-delay="200" class="color-secondary mb-2">
      {{site.data.main.contact_text}}
    </p>

    <div class="social-links" data-aos="fade-up" data-aos-delay="200">
      {% if site.data.profile.social.telegram %}
      <a
        href="{{ site.data.profile.social.telegram }}"
        class="social-link"
        title="Telegram"
      >
        <i class="fab fa-brands fa-telegram"></i>
      </a>
      {% endif %}
      {% if site.data.profile.social.email %}
      <a
        href="{{ site.data.profile.social.email }}"
        class="social-link"
        title="Email"
      >
        <i class="fas fa-envelope"></i>
      </a>
      {% endif %}
      {% if site.data.profile.social.github %}
      <a
        href="{{ site.data.profile.social.github }}"
        class="social-link"
        title="GitHub"
        target="_blank"
      >
        <i class="fab fa-github"></i>
      </a>
      {% endif %}
      {% if site.data.profile.social.linkedin %}
      <a
        href="{{ site.data.profile.social.linkedin }}"
        class="social-link"
        title="LinkedIn"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>
      </a>
      {% endif %}
      {% if site.data.profile.social.twitter %}
      <a
        href="{{ site.data.profile.social.twitter }}"
        class="social-link"
        title="Twitter"
        target="_blank"
      >
        <i class="fab fa-brands fa-twitter"></i>
      </a>
      {% endif %}
    </div>

    <p class="color-secondary mt-2">
      © {{ 'now' | date: "%Y" }} {{ site.data.profile.name }}. {{ site.data.profile.tagline }}
    </p>
  </div>
</footer>
