<header class="header">
  <nav class="nav-container">
    <a href="{{ '/' | relative_url }}" class="logo">{{ site.data.profile.name }}</a>

    <ul id="primary-menu" class="nav-menu">
      <li>
        <a href="{{ '/#home' | relative_url }}" class="nav-link"><i class="fa-solid fa-house"></i></a>
      </li>
      {% if site.data.nav.about %}
      <li>
        <a href="{{ '/#about' | relative_url }}" class="nav-link">{{site.data.nav.about}}</a>
      </li>
      {% endif %}
      {% if site.data.nav.experience %}
      <li>
        <a href="{{ '/#experience' | relative_url }}" class="nav-link">{{site.data.nav.experience}}</a>
      </li>
      {% endif %}
      {% if site.data.nav.projects %}
      <li>
        <a href="{{ '/#projects' | relative_url }}" class="nav-link">{{site.data.nav.projects}}</a>
      </li>
      {% endif %}
      {% if site.data.nav.skills %}
      <li>
        <a href="{{ '/#skills' | relative_url }}" class="nav-link">{{site.data.nav.skills}}</a>
      </li>
      {% endif %}
      {% if site.data.nav.blog %}
      <li>
        <a href="{{ '/blog/' | relative_url }}" class="nav-link">{{site.data.nav.blog}}</a>
      </li>
      {% endif %}
      {% if site.data.nav.contact %}
      <li>
        <a href="{{ '/#contact' | relative_url }}" class="nav-link">{{site.data.nav.contact}}</a>
      </li>
      {% endif %}
    </ul>

    <div class="nav-controls">
      <button class="theme-toggle" aria-label="Toggle theme">
        <i class="fas fa-moon"></i>
      </button>
      <button
        class="mobile-menu-toggle"
        aria-label="Toggle menu"
        aria-controls="primary-menu"
        aria-expanded="false"
      >
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </nav>
</header>
